@mixin centerChild{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background: url(./img/bg.jpg) center/cover;
  height: 100vh;
}

h1, h2, h3{
  text-transform: uppercase;
}
